@{
    <div class = "container-fluid fontMillonario interletrado">
            
            <div class="row h-100" >
            <div class="col-md-2 col-12">
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton interletrado">50/50</button>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton interletrado">LLamado</button>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton interletrado">2da oportunidad</button>
                </div>

            </div>
            <div class="col-md-8 my-auto col-12">
                
                <div class ="row-lg">
                    <div class = "col-12 m-20 d-flex justify-content-center">
                        <p class="display-2 textCenter interletrado">"@ViewBag.Pregunta.TextoPregunta" </p>
                    </div>
                </div>

                <div class = "row row-cols-2 ">
                    <button type="button" class="btn-lg btn-primary fondoOPC border border-primary interletrado">"@ViewBag.Respuesta.OpcionRespuesta"</button>
                    <button type="button" class="btn-lg btn-primary fondoOPC border border-primary interletrado">"@ViewBag.Respuesta.OpcionRespuesta"</button>
                    <button type="button" class="btn-lg btn-primary fondoOPC border border-primary interletrado">"@ViewBag.Respuesta.OpcionRespuesta"</button>
                    <button type="button" class="btn-lg btn-primary fondoOPC border border-primary interletrado">"@ViewBag.Respuesta.OpcionRespuesta"</button>
                </div>

                
            </div>
            <div class="col-md-2 col-12">
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton tamanoB interletrado">1000</button>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton tamanoB interletrado">2000</button>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton tamanoBC interletrado">5000</button>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton tamanoB interletrado">7000</button>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton tamanoB interletrado">10000</button>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton tamanoBC interletrado">12000</button>
                </div>    
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton tamanoB interletrado">15000</button>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton tamanoB interletrado">18000</button>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton tamanoBC interletrado">20000</button>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton tamanoB interletrado">22000</button>
                </div>
            </div>
        </div>
        
    </div>
    
}